<table>
    <tr>
        <td><input type="checkbox" name="filters" id="filters" onclick="myFunction()">
            <label for="string"></label>
        </td>
        <td><input type="text" name="string" id="filter" placeholder="String" value="<%= query.string %>"></td>
        <!--<td><textarea id="string" name="string" placeholder="String"></textarea></td>-->
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="integer">Integer</label></td>
        <td><input type="number" name="integer" id="filter" placeholder="Integer" value="<%= query.integer %>"></td>
        <!--<td><textarea id="integer" name="integer" placeholder="Integer"></textarea></td>-->
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="float">Float</label></td>
        <td><input type="number" step="0.005" name="filter" id="float" placeholder="Float" value="<%= query.float %>">
        </td>
        <!--<td><textarea id="float" name="float" placeholder="Float"></textarea></td>-->
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="date">Date</label></td>
        <td><input type="date" name="date" id="filter" value="kosong" placeholder="yyyy/mm/dd"
                value="<%= query.date %>"></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="boolean">Boolean</label></td>
        <td>
            <select name="boolean" id="filter">
                <option value="">Choose the boolean....</option>
                <option value="true" <%=query.boolean=='true' ? 'selected' : '' %>>true</option>
                <option value="false" <%=query.boolean=='false' ? 'selected' : '' %>>false</option>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td><input type="checkbox" name="stringCheck" class="checkmark">
            <label for="stringCheck">String</label>
        </td>
        <td><input type="text" name="string" placeholder="String" value="<%= query.string %>"></td>
        <!--<td><textarea id="string" name="string" placeholder="String"></textarea></td>-->
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="integer">Integer</label></td>
        <td><input type="number" name="integer" id="filter" placeholder="Integer" value="<%= query.integer %>"></td>
        <!--<td><textarea id="integer" name="integer" placeholder="Integer"></textarea></td>-->
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="float">Float</label></td>
        <td><input type="number" step="0.005" name="filter" id="float" placeholder="Float" value="<%= query.float %>">
        </td>
        <!--<td><textarea id="float" name="float" placeholder="Float"></textarea></td>-->
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="date">Date</label></td>
        <td><input type="date" name="date" id="filter" value="kosong" placeholder="yyyy/mm/dd"
                value="<%= query.date %>"></td>
    </tr>
    <tr>
        <td><input type="checkbox" name="filters" id="filters"><label for="boolean">Boolean</label></td>
        <td>
            <select name="boolean" id="filter">
                <option value="">Choose the boolean....</option>
                <option value="true" <%=query.boolean=='true' ? 'selected' : '' %>>true</option>
                <option value="false" <%=query.boolean=='false' ? 'selected' : '' %>>false</option>
        </td>
    </tr>
    
</table>