<%- include('partials/header')%>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 style="text-align:center">BREAD(Browse, Read, Edit, Add, Delete)</h1>
                <h2>Filters</h2>
            </div>
            <div class="card-body">
                <div class="filter">
                    <form action="" method="get">
                        <input type="hidden" name="page" value="1">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <input type="checkbox" name="stringFilters" id="filters" <%=query.stringFilters=='on'
                                    ? 'checked' : '' %> ><label for="string" class="col-sm-2 col-form-label">
                                    String</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="string" name="string" placeholder="String"
                                    value="<%= query.string %>">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <input type="checkbox" name="integerFilters" id="filters" <%=query.integerFilters=='on'
                                    ? 'checked' : '' %>><label for="integer"
                                    class="col-sm-3 col-form-label">Integer</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="integer" name="integer"
                                    placeholder="integer" value="<%= query.integer %>">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <input type="checkbox" name="floatFilters" id="float" <%=query.floatFilters=='on'
                                    ? 'checked' : '' %>><label for="float" class="col-sm-3 col-form-label">Float</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" step="0.0005" class="form-control" id="float" name="float"
                                    placeholder="Float" value="<%= query.float %>">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <input type="checkbox" name="dateFilters" id="date" <%=query.dateFilters=='on'
                                    ? 'checked' : '' %>><label for="date" class="col-sm-3 col-form-label">date</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="startDate" id="filter"
                                    placeholder="yyyy/mm/dd" value="<%= query.startDate %>">
                                <p style="padding-top:7px;">to</p>
                                <input type="date" class="form-control" name="toDate" id="filter"
                                    placeholder="yyyy/mm/dd" value="<%= query.toDate %>">
                            </div>
                        </div>

                        <fieldset class="row mb-3">
                            <div class="col-sm-3">
                                <input type="checkbox" name="booleanFilters" id="boolean" <%=query.booleanFilters=='on'
                                    ? 'checked' : '' %>><label class="col-form-label col-sm-3 pt-0"
                                    for="boolean">Boolean</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="boolean" name="boolean">
                                    <option value="null" selected>Choose...</option>
                                    <option value="true" <%=query.boolean=='true' ? 'selected' : '' %>>true</option>
                                    <option value="false" <%=query.boolean=='false' ? 'selected' : '' %>>false</option>
                                </select>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a href="/" class="btn btn-warning">Reset</a>
                    </form>
                </div>
                <br>
                <hr>
                <table id="sortTable" class="table table-striped" style="text-align:center;">
                    <thead>

                        <tr>
                            <th>
                                <a href="/?page=1<%= sortBy == 'id' && order == 'asc' ? '&sortBy=id&order=desc' : '&sortBy=id&order=asc' %>"
                                    style="text-decoration:none; color: black;"
                                    <% if(sortBy == 'id' && order == 'asc' ){ %> <i class="fa-solid fa-sort-up"></i
                                    <% } else if (sortBy == 'id' && order == 'desc' ){ %> <i class="fa-solid fa-sort-down"></i
                                    <% } else { %> <i class="fa-solid fa-sort"></i <% } %>
                                        > ID</a>
                            </th>
                            <th>
                                <a href="/?page=1<%= sortBy == 'string' && order == 'asc' ? '&sortBy=string&order=desc' : '&sortBy=string&order=asc' %>"
                                    style="text-decoration:none; color: black;"
                                    <% if(sortBy == 'string' && order == 'asc' ){ %> <i class="fa-solid fa-sort-up"></i
                                    <% } else if (sortBy == 'string' && order == 'desc' ){ %> <i class="fa-solid fa-sort-down"></i
                                    <% } else { %> <i class="fa-solid fa-sort"></i <% } %>
                                        > String</a>
                            </th>
                            <th>
                                <a href="/?page=1<%= sortBy == 'integer' && order == 'asc' ? '&sortBy=integer&order=desc' : '&sortBy=integer&order=asc' %>"
                                    style="text-decoration:none; color: black;"
                                    <% if(sortBy == 'integer' && order == 'asc' ){ %> <i class="fa-solid fa-sort-up"></i
                                    <% } else if (sortBy == 'integer' && order == 'desc' ){ %> <i class="fa-solid fa-sort-down"></i
                                    <% } else { %> <i class="fa-solid fa-sort"></i <% } %>
                                        > Integer</a>
                            </th>
                            <th>
                                <a href="/?page=1<%= sortBy == 'float' && order == 'asc' ? '&sortBy=float&order=desc' : '&sortBy=float&order=asc' %>"
                                    style="text-decoration:none; color: black;"
                                    <% if(sortBy == 'float' && order == 'asc' ){ %> <i class="fa-solid fa-sort-up"></i
                                    <% } else if (sortBy == 'float' && order == 'desc' ){ %> <i class="fa-solid fa-sort-down"></i
                                    <% } else { %> <i class="fa-solid fa-sort"></i <% } %>
                                        > Float</a>
                            </th>
                            <th>
                                <a href="/?page=1<%= sortBy == 'date' && order == 'asc' ? '&sortBy=date&order=desc' : '&sortBy=date&order=asc' %>"
                                    style="text-decoration:none; color: black;"
                                    <% if(sortBy == 'date' && order == 'asc' ){ %> <i class="fa-solid fa-sort-up"></i
                                    <% } else if (sortBy == 'date' && order == 'desc' ){ %> <i class="fa-solid fa-sort-down"></i
                                    <% } else { %> <i class="fa-solid fa-sort"></i <% } %>
                                        > Date</a>
                            </th>
                            <th>
                                <a href="/?page=1<%= sortBy == 'date' && order == 'asc' ? '&sortBy=date&order=desc' : '&sortBy=date&order=asc' %>"
                                    style="text-decoration:none; color: black;"
                                    <% if(sortBy == 'date' && order == 'asc' ){ %> <i class="fa-solid fa-sort-up"></i
                                    <% } else if (sortBy == 'date' && order == 'desc' ){ %> <i class="fa-solid fa-sort-down"></i
                                    <% } else { %> <i class="fa-solid fa-sort"></i <% } %>
                                        > Boolean</a>
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((item, index)=> { %>
                            <tr>
                                <td>
                                    <%= item.id %>
                                </td>
                                <td>
                                    <%= item.string %>
                                </td>
                                <td>
                                    <%= item.integer %>
                                </td>
                                <td>
                                    <%= item.float %>
                                </td>
                                <td>
                                    <%= item.date %>
                                </td>
                                <td>
                                    <%= item.boolean %>
                                </td>
                                <td>
                                    <a href="/edit/<%= item.id %>" class="btn btn-success">Edit</a>
                                    <a href="/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="pagination" style="float:left">
                    <a href="<%= url.replace(`page=${page}`,`page=${previous}`) %>">Previous</a>
                    <% for(let i=1; i<=pages; i++){%>
                        <a class="<%= i == page ? 'active' : ''%>"
                            href="<%= url.replace(`page=${page}`,`page=${i}`) %>">
                            <%= i %>
                        </a>
                        <% }%>
                            <a href="<%= url.replace(`page=${page}`,`page=${next <= pages ? next : page}`) %>">Next</a>
                </div>
                <a href="/add" class="btn btn-primary" style="float:right ;">Add</a>
            </div>
        </div>

    </div>

    <%- include('partials/footer')%>