<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--ini masukin file css-->
    <script>
        function myFunction() {
            var checkBox = document.getElementById("filters")
            var filter = document.getElementById(filter)
            if (checkBox.checked == true) {
                filter.style.display = 'block'
            } else {
                filter.style.display = 'none'
            }

        }
    </script>

</head>

<body>
    <div class="container">
        <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>

        <div class="filters">
            <h2>Filters</h2>
            <form action="" method="get">
                <input type="hidden" name="page" value="1">
                <input type="checkbox" name="string" id="string"><label for="string">String</label></td>




                <button type="submit" class="btn btn-search">Search</button>
                <a href="/" class="btn btn-warning">Reset</a>
            </form>
            <hr>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>String</th>
                        <th>Integer</th>
                        <th>Float</th>
                        <th>Date</th>
                        <th>Boolean</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item, index)=> { %>
                        <tr>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.string %>
                            </td>
                            <td>
                                <%= item.integer %>
                            </td>
                            <td>
                                <%= item.float %>
                            </td>
                            <td>
                                <%= item.date %>
                            </td>
                            <td>
                                <%= item.boolean %>
                            </td>
                            <td>
                                <a href="/edit/<%= item.id %>"><button class="btn btn-edit"> EDIT </button></a>
                                <a href="/delete/<%= item.id %>"><button class="btn btn-delete"> DELETE </button></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <div>
                <div class="pagination">
                    <a href="/?page=<%= previous %>">Previous</a>
                    <% for(let i=1; i<=pages; i++){%>
                        <a class="<%= i == page ? 'active' : ''%>"
                            href="<%= url.replace(`page=${page}`,`page=${i}`) %>">
                            <%= i %>
                        </a>
                        <% }%>
                            <a href="/?page=<%= next %>">Next</a>
                </div>
                <div>
                    <a href="/add"><button class="btn btn-add"> Add </button></a>
                </div>
            </div>

        </div>
    </div>



</body>

</html>